<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="row">
						<div class="col-md-12 admin-menu">
							<a href={{ url_for('admin_home') }}>Home</a>
						</div>
	                </div>
	                <div class="row">
						<div class="col-md-12 admin-menu">
							<a href="https://www.youtube.com">User Management</a>
						</div>
	                </div>
	                <div class="row">
						<div class="col-md-12 admin-menu">
							<a href="https://www.youtube.com">Add a video</a>
						</div>
	                </div>
	                <div class="row">
						<div class="col-md-12 admin-menu">
							<a href="https://www.youtube.com">Edit a video</a>
						</div>
	                </div>
	                <div class="row">
						<div class="col-md-12 admin-menu">
							<a href={{ url_for('admin_playlist_add') }}>Add a playlist</a>
						</div>
	                </div>
	                <div class="row">
						<div class="col-md-12 admin-menu">
							<a href="https://www.youtube.com">Edit a playlist</a>
						</div>
	                </div>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->