
		<div class="main-header">
			
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark">
				
				<a href="index.html" class="logo">
					<img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
				</a>
				
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">

				<a href={{ url_for('index') }}>
					<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
						<span >Home</span>
					</div>
				</a>
				<a href={{ url_for('logic_browse') }}>
					<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
						<span>Browse</span>
					</div>
				</a>
				<a href={{ url_for('logic_playlist_all') }}>
					<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
						<span>Playlists</span>
					</div>
				</a>
				
				<a href={{ url_for('aim_tracker') }}>
					<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
						<span>Aim Tracker</span>
					</div>
				</a>
				

				
				{% if current_user.is_authenticated %}

					
					<div class="navbar-nav topbar-nav ml-md-auto align-items-right">
						<a href={{ url_for('index') }}>
							<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
								<span>{{ current_user.username }}</span>
							</div>
						</a>
						<a href={{ url_for('logout') }}>
							<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
								<span>Logout</span>
							</div>
						</a>
					</div>

				{% else %}
				<div class="navbar-nav topbar-nav ml-md-auto align-items-right">
						
						<a href={{ url_for('login') }}>
							<div style="text-align: center; margin-right: 40px; color:white;font-size: 14px;font-family:'Century Gothic','Futura',san-serif;">
								<span>Login</span>
							</div>
						</a>
					</div>


				{% endif %}

				{% if current_user.admin_status==1 %}
					<div class="navbar-nav topbar-nav ml-md-auto align-items-right">
						<a href={{ url_for('admin_home') }}><span class="nav-link">Admin</span></a>
					</div>
				{% endif %}
				
			</nav>
			<!-- End Navbar -->

		</div>
